@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.roboto {
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100vw;
    height: 81px;
}

.listone{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 20px;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding: 0px 60px 0px 90px;
    font-size: 10px;
}
.listone ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
    width: 13%;
}

.flex{
    box-sizing: border-box;
    display: flex;
    width: 100vw;
    height: 61px;
    position: relative;
    background-color: #F0A83E;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    }

.flex ul{
    display: flex;
    width: 35%;
    align-items: center;
    color: #ffffff;
    justify-content: space-around;
    margin-right: 40px;
    list-style-type: none;
}

main{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.img-p{
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100vw;
    justify-content: center;
}
.img-p img{
    width: 100vw;
    z-index: -1;
}
.img-p article{
    display: flex;
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
    margin-right: 12px;
}

.tituloprin {
    padding: 10px;
    margin: 0;
    z-index: 1;
    font-size: 30px;
    background-color: #ffffff;
    color: black;
}
.img-p p{
    margin-top: 12px;
    color: black;
    z-index: 1;
}
.img-p button{
    z-index: 1;
    padding: 15px 23px;
    background-color: #F0A83E;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
div{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
div img{
    size: 50%;
}
h1{
    font-size: 40px;
    font-weight: 700;
    color: #3C2313;
    margin-top: 0%;
}
div ul{
    display: flex;
    width: 30vw;
    align-items: center;
    justify-content: space-around;
}

.articulos{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    width: 100vw;
}
article{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}
h3{
    margin-bottom: 0px;
}
article p{
    color: #F0A83E;
    margin-top: 0px;
}







footer{
    display: flex;
    background-color: black;
    align-items:center;
    height: 20px;
    justify-content: center;
}
footer p{
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;  
}